<div class="content_wrap clearfix">
	<div class="content booking_history gray_box clearfix">
    <div class="table_filters">
      <ul class="form_wrap clearfix">
        <li class="fl-l"><input type="text" value="Filter by:" class="input_ico input_ico_search"></li>
        <li class="fl-l"><input type="text" value="Date:" class="input_ico input_ico_search"></li>
        <li class="fl-l"><input type="text" disabled="disabled" value="Pickup Time" class="input_ico input_ico_time pickup_time timespinner"></li>
      </ul>
    </div>
    <table id="booking_history" class="display">
      <thead>
        <tr>
          <th>Date</th>
          <th>Pickup &amp; Drop Off</th>
          <th>Distance</th>
          <th>Payment</th>
          <th>Passenger</th>
          <th>Driver</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08 May 2013, 09:21</td>
          <td>Charlotte Douglas International Airport 5501 Rc Joshua Road Faster and LOnglonglong name witn maaaaany letters</td>
          <td>160.5 miles</td>
          <td>€ 1415.09</td>
          <td>Benjamin Westrup</td>
          <td>Christopher Walker</td>
          <td>Done</td>
        </tr>
      </tbody>
    </table>  
  </div>
  <%= link_to "Create a New Booking", bookings_path, :class => "btn btn_orange"  %>
</div>