<div class="content_heading">
  New Booking
</div>  

<div class="content_nav dblshadow">
  <ul>
    <li class="first active"><a href="new_booking.html">New Booking<span class="content_nav_arrow"></span></a></li>
    <li class="last "><a href="booking_history.html">Booking History<span class="content_nav_arrow"></span></a></li>
  </ul>
</div>